<div id="home" class="d-flex align-items-center justify-content-center">
    <div id="home-container">
        <form action="/artist-search" method="GET" class="d-flex justify-content-center flex-wrap">
            <input id="artistName" type="text" placeholder="Name artist" class="mb-3" name="artist">
            <button id="shearchButton" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>